doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        meta(name="description", content="We Provide An Engine What Can Do Shorten Whatsapp Number With Link")
        meta(name="keywords", content="Short, Short Whats, Whats App")
        title  Shorten Whatsapp Number With Link | Start Whatsapp Chat
        link(rel="stylesheet", href="css/intlTelInput.min.css")
        link(rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css")
        link(rel="stylesheet", href="fontawesome/css/all.min.css")
        link(rel="stylesheet", href="css/main.css")
        link(rel="icon" href="../images/favicon.png")
        link(rel="apple-touch-icon", href="../images/favicon.png")
    body
        //- ---------------------- Start Loader Box ---------------------- -//
        .loader 
            div
        //- ---------------------- Start Scroll Up Box ---------------------- -//
        .scroll-up 
            i.fas.fa-arrow-up

        //- ---------------------- Start overlay Box ---------------------- -//
        .overlay

        //- ---------------------- Start Header Box ---------------------- -//
        header
            //- ---------------------- Start info Box ---------------------- -//
            .info
                .container

                    //- ---------------------- Start left-box Box ---------------------- -//
                    .left-box 
                        a(href="mailto:info@remah.tech" target="_blank")
                            |تواصل معنا عبر الأيميل
                            i.far.fa-envelope
                        a(href="https://wa.me/01202434910" target="_blank")
                            |الدعم المباشر
                            i.far.fa-clock

                    //- ---------------------- Start right-box Box ---------------------- -//
                    .right-box 

                        //- ---------------------- Start toggler Box ---------------------- -//
                        .toggler
                            i(class="fa-solid fa-moon")

            //- ---------------------- Start Nav Box ---------------------- -//
            nav
                .container


                    //- ---------------------- Start Lists Box ---------------------- -//
                    ul.main-lists
                        li.active
                            a(href="#") الصفحة الرئيسية

                        li
                            a(href="index.html#about-us") معلومات عنا

                        li
                            a(href="index.html#about-us") الأسعار

                        li.drop-down-btn صفحات اخرى 
                            i.fas.fa-chevron-down

                            ul
                                li
                                    a(href="games/index.html") الأسئلة
                                li
                                    a(href="faq/index.html") المدونات	


                        li
                            a(href="#contact") اتصل بنا


                    //- ---------------------- Start Burger Icon Box ---------------------- -//
                    .burger-toggler.icon
                        span
                        span
                        span
                        span
                        span
                        span
                        span
                        span
                        span

                    //- ---------------------- Start left-box Box ---------------------- -//
                    .lang 
                        ul
                            li.drop-down-btn
                                img(src="includes/images/w5.png", alt="flag")
                                |العربية
                                i.fas.fa-chevron-down

                                ul
                                    li
                                        a(href="")
                                            img(src="includes/images/w1.png", alt="flag")
                                            |English

                                    li
                                        a(href="")
                                            img(src="includes/images/w2.png", alt="flag")
                                            |Deutsch

                                    li
                                        a(href="")
                                            img(src="includes/images/w3.png", alt="flag")
                                            |Español

                                    li
                                        a(href="")
                                            img(src="includes/images/w4.png", alt="flag")
                                            |Français


        //- ------------------- Start Slider Box ------------------- -//
        section.slider
            .container
                .content-container
                    .logo 
                        a(href="#")
                            h1 
                                span Z
                                |AJEL 
                                span L
                                |INK

                    .form-box(data-aos="zoom-in")
                        form(action="" auto-compelte="off") 
                            label(for="phone-number") رقم الهاتف
                            input#phone-number(type="tel", name="PhoneNumber" placeholder="Type Your Phone")
                            p لن نشارك رقم هاتفك المحمول أبدًا مع أي شخص آخر.
                            button اختصرها الآن

        //- ------------------- Start welcome Box ------------------- -//
        section.welcome 
            .container
                .content-box(data-aos="fade-right")
                    h2 مرحباً بك في كانفاس.
                        br
                        |قالب متعدد الأغراض.

                    span 

                    p الشركة نفسها هي شركة ناجحة جدا. أعطته واحدة من هذه. لأنه يكرهه نتهمه؟ عندما ترى أن لذة التملق تفلت من العصر، سأشرح لك العواقب وضرورات الحصول عليها، هكذا.

                .img-box(data-aos="fade-left")
                    img(src="images/slider.jpg", alt="Image")

        //- ------------------- Start Service Box ------------------- -//
        section.service
            .container 
                .box(data-aos="flip-left")
                    .icon
                        i(class="fa-solid fa-display")
                    span قابلة للتطوير على الأجهزة
                    h3 استجابة وشبكية العين
                    P الشركة نفسها هي شركة ناجحة جدا. سأشرح أنه بالرغبة والأخلاق والمتاعب، دعه يهرب بكراهية كبيرة، وبالهروب سينقذ الملاحقات الأشد، لأي شخص أو أي تمييز للمبارك نفسه. ومن بين هؤلاء هل يجب تحرير الوالدين من المغفرة أو الألم؟ من له
                .box(data-aos="flip-left")
                    .icon
                        i(class="fa-solid fa-bolt-lightning")
                    span مطلي بذكاء وصيانته
                    h3 أداء قوي
                    P الشركة نفسها هي شركة ناجحة جدا. سأشرح أنه بالرغبة والأخلاق والمتاعب، دعه يهرب بكراهية كبيرة، وبالهروب سينقذ الملاحقات الأشد، لأي شخص أو أي تمييز للمبارك نفسه. ومن بين هؤلاء هل يجب تحرير الوالدين من المغفرة أو الألم؟ من له
                .box(data-aos="flip-left")
                    .icon
                        i(class="fa-solid fa-sliders")
                    span مرنة وقابلة للتخصيص
                    h3 متعدد الأغراض حقًا
                    P الشركة نفسها هي شركة ناجحة جدا. سأشرح أنه بالرغبة والأخلاق والمتاعب، دعه يهرب بكراهية كبيرة، وبالهروب سينقذ الملاحقات الأشد، لأي شخص أو أي تمييز للمبارك نفسه. ومن بين هؤلاء هل يجب تحرير الوالدين من المغفرة أو الألم؟ من له

        //- ------------------- Start Demos Box ------------------- -//
        .demos 
            .container 
                .img-box(data-aos="fade-right")
                    img(src="images/drawing.jpg", alt="Demos Image")

                .video-box(data-aos="zoom-in")
                    span فهم بسهولة وقابلة للتخصيص
                    h3 مقاطع فيديو وعروض توضيحية

                    .img
                        .img-container
                            img(src="images/code.jpg", alt="Video")
                            .icon
                                i(class="fa-solid fa-play")

                        P الشركة نفسها هي شركة ناجحة جدا. سأشرح أنه بالرغبة والأخلاق والمتاعب، دعه يهرب بكراهية كبيرة، وبالهروب سينقذ الملاحقات الأشد، لأي شخص أو أي تمييز للمبارك نفسه. ومن بين هؤلاء هل يجب تحرير الوالدين من المغفرة أو الألم؟ من له
        //- ------------------- Start Count Box ------------------- -//
        .count 
            .container 
                .box 
                    <i class="fa-solid fa-font-awesome"></i>
                    h4.nums(data-index="864") 0
                    p عدد الأسطر
                .box 
                    <i class="fa-regular fa-file"></i>
                    h4.nums(data-index="2150") 0
                    p حجم ملفات الـ HTML
                .box 
                    <i class="fa-solid fa-layer-group"></i>
                    h4.nums(data-index="408") 0
                    p عدد من القوالب
                .box 
                    <i class="fa-regular fa-clock"></i>
                    h4.nums(data-index="1400") 0
                    p ساعات من البرمجة

        //- ------------------- Start Count Box ------------------- -//
        .testmonials(data-aos="fade-up")
            .container 
                .heading 
                    h3 ماذا يقول العميل؟

                .content
                    .box.active
                        .img-icon 
                            img(src="images/av-01.jpg", alt="Avatar")
                        
                        .content-box 
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nisi iusto quasi a in nobis optio placeat ipsa officiis deleniti.
                            span.name Carl Idward
                            span XYZ Inc.
                    .box 
                        .img-icon 
                            img(src="images/av-02.jpg", alt="Avatar")
                        
                        .content-box 
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nisi iusto quasi a in nobis optio placeat ipsa officiis deleniti.
                            span.name Tom Deric
                            span XYZ Inc.
                    .box 
                        .img-icon 
                            img(src="images/av-03.jpg", alt="Avatar")
                        
                        .content-box 
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nisi iusto quasi a in nobis optio placeat ipsa officiis deleniti.
                            span.name John Doe
                            span XYZ Inc.


                ul
                    li(data-index="0").active
                    li(data-index="1")
                    li(data-index="2")
        footer
            .container 
                .row 
                    .logo
                        h3
                            a(href="#") ZAJEL LINK

                    p نحن نؤمن بمعايير التصميم البسيطة والإبداعية والمرنة.

                    .content
                        div 
                            h5 المقر:
                            p 795 شارع فولسوم، جناح 600 سان فرانسيسكو، كاليفورنيا 94107:

                        div.contact
                            p
                                b رقم الهاتف: 
                                |(1) 8547 632521

                            p
                                b فاكس: 
                                |(1) 11 4752 1433

                            p
                                b ايميل: 
                                |info@remah.tech

                .row 
                    h3 قائمة المدونات 
                    
                    ul
                        li
                            a(href="") توثيق
                        li
                            a(href="") تعليق
                        li
                            a(href="") الإضافات
                        li
                            a(href="") منتديات الدعم
                        li
                            a(href="") المواضيع
                        li
                            a(href="") مدونة كانفاس
                        li
                            a(href="") كوكب كانفاس

                .row 
                    h3 المشاركات الاخيرة
                    
                    .content
                        div 
                            p لوريم إيبسوم دولور الجلوس أميت كونسيكتور.
                            span 10 يوليو 2021

                        div 
                            p لوريم إيبسوم دولور الجلوس أميت كونسيكتور.
                            span 10 يوليو 2021

                        div 
                            p لوريم إيبسوم دولور الجلوس أميت كونسيكتور.
                            span 10 يوليو 2021

                .row 
                    .head
                        .downloads 
                            h4 15,065,421
                            p إجمالي التنزيلات
                        .clients
                            h4 18,465
                            p العملاء
                    
                    form(action="" autocompelete="off") 
                        p اشترك في النشرة الإخبارية لدينا للحصول على أخبار مهمة وعروض مذهلة داخل المجارف:
                        .input-container 
                            
                            input(type="text", name="" placeholder="Enter your Email")

                            button(type="submit") Subscripe

                    .social 
                        .content 
                            a(href="#") 
                                .icon 
                                    i(class="fa-brands fa-facebook-f")
                                
                                .text 
                                    h6 اعجب بنا  
                                    span على الفيسبوك 

                        .content
                            a(href="#") 
                                .icon 
                                    i(class="fa-solid fa-wifi")
                                
                                .text 
                                    h6 اشترك 
                                    span إلى خلاصات RSS 

        .copy-right 
            .container
                p &copy; حقوق الطبع والنشر 
                    strong Remah Tech LLC
                    |. كل الحقوق محفوظة

                p  برمجة وتصميم وسيو بواسطة  
                    a(href="#") رماح الرقمية 
                
                a(href="#") سياسة الخصوصية 
                span | 
                a(href="#") شروط الاستخدام

        script(src="js/intlTelInput.min.js") 
        script(src="https://unpkg.com/aos@next/dist/aos.js")
        script(src="fontawesome/js/all.min.js")
        script(src="js/main.js") 