doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="We Provide An Engine What Can Do Shorten Whatsapp Number With Link")
        meta(name="keywords", content="Short, Short Whats, Whats App")
        title  Shorten Whatsapp Number With Link | Start Whatsapp Chat

        link(rel="stylesheet", href="css/intlTelInput.min.css")
        //- Import The Fonts From Google Fonts Library
        link(href="https://fonts.googleapis.com/css?family=Tajawal:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet")
        //- Import The Font Awesome Library
        link(rel="stylesheet", href="Fonts/all.min.css")
        //- Browser Icone Screen
        link(rel="icon", href="images/favicon.png")
        link(rel="apple-touch-icon", href="images/favicon.png")
        //- The Main Css File
        link(rel="stylesheet", href="css/main.css")
    body 
        //- Start Header Box
        header 
            .container

                //- Start Logo Box
                .logo-box 
                    h1
                        a(href="#") ZAJEL LINK

                //- Start Nav Box
                nav 
                    
                    //- Start The Lists
                    ul 
                        li
                            a(href="") Home
                        li
                            a(href="") About
                        li
                            a(href="") Pricing
                        li.drop-down
                            |Documents 
                            i(class="fa-solid fa-chevron-down")
                            ul
                                li
                                    a(href="#") FAQ
                                li
                                    a(href="#") Blog
                        li
                            a(href="") Contact
                    
                //- Start Toggle Box
                .toggler 
                    span 
                    span 
                    span
                    span 
                    span 
                    span
                    span 
                    span 
                    span 
        section.slider 
            .container 
                .form-box 
                    form(action="" auto-compelte="off") 
                        label(for="phone-number") Mobile Number
                        input#phone-number(type="tel", name="PhoneNumber" placeholder="Type Your Phone")
                        p We'll never share your mobile number with anyone else.
                        button Short Now

        footer
            .container
                p &copy; Copyright 
                    strong Remah Tech LLC
                    |. All Rights Reserved

                p  برمجة وتصميم وسيو بواسطة  
                    a(href="#") رماح الرقمية 
                
                a(href="#") Privacy Policy
                |
                a(href="#") Terms of Use

        .overlay
        script(src="js/intlTelInput.min.js") 

        //- Font Awesome Script File
        script(src="Fonts/all.min.js") 

        //- Main Script File
        script(src="js/main.js") 

    