doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="We Provide An Engine What Can Do Shorten Whatsapp Number With Link")
        meta(name="keywords", content="Short, Short Whats, Whats App")
        title  Shorten Whatsapp Number With Link | Start Whatsapp Chat
        link(rel="stylesheet", href="css/intlTelInput.min.css")
        link(rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css")
        link(rel="stylesheet", href="fontawesome/css/all.min.css")
        link(rel="stylesheet", href="css/main.css")
        link(rel="icon" href="../images/favicon.png")
        link(rel="apple-touch-icon", href="../images/favicon.png")
    body
        //- ---------------------- Start Scroll Up Box ---------------------- -//
        .scroll-up 
            i.fas.fa-arrow-up

        //- ---------------------- Start overlay Box ---------------------- -//
        .overlay

        //- ---------------------- Start Header Box ---------------------- -//
        header
            //- ---------------------- Start info Box ---------------------- -//
            .info
                .container

                    //- ---------------------- Start left-box Box ---------------------- -//
                    .left-box 
                        a(href="mailto:info@remah.tech" target="_blank")
                            i.far.fa-envelope
                            |info@remah.tech
                        a(href="https://wa.me/01202434910" target="_blank")
                            i.far.fa-clock
                            |Live Support

                    //- ---------------------- Start right-box Box ---------------------- -//
                    .right-box 

                        //- ---------------------- Start left-box Box ---------------------- -//
                        .lang 
                            ul
                                li.drop-down-btn
                                    img(src="includes/images/w1.png", alt="flag")
                                    |English
                                    i.fas.fa-chevron-down

                                    ul
                                        li
                                            a(href="")
                                                img(src="includes/images/w2.png", alt="flag")
                                                |Deutsch

                                        li
                                            a(href="")
                                                img(src="includes/images/w3.png", alt="flag")
                                                |Español

                                        li
                                            a(href="")
                                                img(src="includes/images/w4.png", alt="flag")
                                                |Français

                                        li
                                            a(href="")
                                                img(src="includes/images/w5.png", alt="flag")
                                                |العربية

                        //- ---------------------- Start toggler Box ---------------------- -//
                        .toggler
                            i(class="fa-solid fa-moon")

            //- ---------------------- Start Nav Box ---------------------- -//
            nav
                .container 

                    //- ---------------------- Start logo Box ---------------------- -//
                    .logo
                        h1
                            a(href="#") ZAJEL LINK

                    //- ---------------------- Start Lists Box ---------------------- -//
                    ul.main-lists
                        li.active
                            a(href="#") Home

                        li
                            a(href="index.html#about-us") about

                        li
                            a(href="index.html#about-us") Pricing

                        li.drop-down-btn Documents 
                            i.fas.fa-chevron-down

                            ul
                                li
                                    a(href="games/index.html") faq
                                li
                                    a(href="faq/index.html") Blog	


                        li
                            a(href="#contact") Contact


                    //- ---------------------- Start Burger Icon Box ---------------------- -//
                    .burger-toggler.icon
                        span
                        span
                        span
                        span
                        span
                        span
                        span
                        span
                        span

        //- ------------------- Start Slider Box ------------------- -//
        section.slider
            .container 
                .form-box(data-aos="zoom-in")
                    form(action="" auto-compelte="off") 
                        label(for="phone-number") Mobile Number
                        input#phone-number(type="tel", name="PhoneNumber" placeholder="Type Your Phone")
                        p We'll never share your mobile number with anyone else.
                        button Short Now

        //- ------------------- Start welcome Box ------------------- -//
        section.welcome 
            .container 
                .content-box(data-aos="fade-right")
                    h2 Welcome to Canvas.
                        br
                        |MultiPurpose Template.

                    span 

                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea eum earum harum. Quia odit est accusamus eius? Perspiciatis voluptas blanditiis temporibus fugit veniam cumque consequatur explicabo adipisci necessitatibus, est quam.

                .img-box(data-aos="fade-left")
                    img(src="images/slider.jpg", alt="Image")

        //- ------------------- Start Service Box ------------------- -//
        section.service
            .container 
                .box(data-aos="flip-left")
                    .icon
                        i(class="fa-solid fa-display")
                    span Scalable on Devices
                    h3 Responsive &amp; Retina
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vitae temporibus alias repudiandae voluptates aperiam, expedita cum! Animi repudiandae ipsam magni in deleniti ullam numquam, est rem ut ea soluta.
                .box(data-aos="flip-left")
                    .icon
                        i(class="fa-solid fa-bolt-lightning")
                    span Samrtly Coded &amp; Maintained
                    h3 Powerfull Performance
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vitae temporibus alias repudiandae voluptates aperiam, expedita cum! Animi repudiandae ipsam magni in deleniti ullam numquam, est rem ut ea soluta.
                .box(data-aos="flip-left")
                    .icon
                        i(class="fa-solid fa-sliders")
                    span Flexable &amp; Custmizable
                    h3 Truly Mutli-Purpose
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vitae temporibus alias repudiandae voluptates aperiam, expedita cum! Animi repudiandae ipsam magni in deleniti ullam numquam, est rem ut ea soluta.

        //- ------------------- Start Demos Box ------------------- -//
        .demos 
            .container 
                .img-box(data-aos="fade-right")
                    img(src="images/drawing.jpg", alt="Demos Image")

                .video-box(data-aos="zoom-in")
                    span Easily Understand &amp; Custmoizable 
                    h3 Walkthrough Videos &amp; Demos 

                    .img 
                        img(src="images/code.jpg", alt="Video")
                        .icon
                            i(class="fa-solid fa-play")

                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo cupiditate, modi, molestiae facere magnam fugiat odio aliquam et fuga perferendis excepturi asperiores consectetur quis, ullam vel quae distinctio ipsam beatae. Harum ea, maiores veniam soluta sit aut doloremque? Qui, eius.
        
        //- ------------------- Start Count Box ------------------- -//
        .count 
            .container 
                .box 
                    <i class="fa-solid fa-font-awesome"></i>
                    h4.nums(data-index="864") 0
                    p Lines Of Codes
                .box 
                    <i class="fa-regular fa-file"></i>
                    h4.nums(data-index="2150") 0
                    p kbs of html files
                .box 
                    <i class="fa-solid fa-layer-group"></i>
                    h4.nums(data-index="408") 0
                    p NO. Of Templates
                .box 
                    <i class="fa-regular fa-clock"></i>
                    h4.nums(data-index="1400") 0
                    p Hours Of Coding

        //- ------------------- Start Count Box ------------------- -//
        .testmonials(data-aos="fade-up")
            .container 
                .heading 
                    h3 What Client Say?

                .content
                    .box.active
                        .img-icon 
                            img(src="images/av-01.jpg", alt="Avatar")
                        
                        .content-box 
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nisi iusto quasi a in nobis optio placeat ipsa officiis deleniti.
                            span.name Carl Idward
                            span XYZ Inc.
                    .box 
                        .img-icon 
                            img(src="images/av-02.jpg", alt="Avatar")
                        
                        .content-box 
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nisi iusto quasi a in nobis optio placeat ipsa officiis deleniti.
                            span.name Tom Deric
                            span XYZ Inc.
                    .box 
                        .img-icon 
                            img(src="images/av-03.jpg", alt="Avatar")
                        
                        .content-box 
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nisi iusto quasi a in nobis optio placeat ipsa officiis deleniti.
                            span.name John Doe
                            span XYZ Inc.


                ul
                    li(data-index="0").active
                    li(data-index="1")
                    li(data-index="2")
        footer
            .container 
                .row 
                    .logo
                        h1
                            a(href="#") ZAJEL LINK

                    p We believe Simple, Creative &amp; Flexable Design Standards.

                    .content
                        div 
                            h5 Headquarters:
                            p 795 Folsom Ave, Suite 600 San Francisco, CA 94107

                        div.contact
                            p
                                b Phone: 
                                |(1) 8547 632521

                            p
                                b Fax: 
                                |(1) 11 4752 1433

                            p
                                b Email: 
                                |info@remah.tech

                .row 
                    h3 Blogroll 
                    
                    ul
                        li
                            a(href="") Documntation
                        li
                            a(href="") Feedback
                        li
                            a(href="") Plugins
                        li
                            a(href="") Support Forums
                        li
                            a(href="") Themes
                        li
                            a(href="") Canvas Blog
                        li
                            a(href="") Canvas Planet

                .row 
                    h3 Recent Posts
                    
                    .content
                        div 
                            p Lorem ipsum dolor sit amet consectetur.
                            span 10th July 2021

                        div 
                            p Lorem ipsum dolor sit amet consectetur.
                            span 10th July 2021

                        div 
                            p Lorem ipsum dolor sit amet consectetur.
                            span 10th July 2021

                .row 
                    .head
                        .downloads 
                            h4 15,065,421
                            p total downloads
                        .clients
                            h4 18,465
                            p Clients
                    
                    form(action="" autocompelete="off") 
                        p Subscribe to Our Newsletter to get Important News, Amazing Offers &amp; Inside Scoops:

                        .input-container 
                            
                            input(type="text", name="" placeholder="Enter your Email")

                            button(type="submit") Subscripe

                    .social 
                        .content 
                            a(href="#") 
                                .icon 
                                    i(class="fa-brands fa-facebook-f")
                                
                                .text 
                                    h6 Like Us 
                                    span On Facebook 

                        .content
                            a(href="#") 
                                .icon 
                                    i(class="fa-solid fa-wifi")
                                
                                .text 
                                    h6 Subscribe 
                                    span to RSS Feeds 

        .copy-right 
            .container
                p &copy; Copyright 
                    strong Remah Tech LLC
                    |. All Rights Reserved

                p  برمجة وتصميم وسيو بواسطة  
                    a(href="#") رماح الرقمية 
                
                a(href="#") Privacy Policy 
                span | 
                a(href="#") Terms of Use

        script(src="js/intlTelInput.min.js") 
        script(src="https://unpkg.com/aos@next/dist/aos.js")
        script(src="fontawesome/js/all.min.js")
        script(src="js/main.js") 